@import 'variables';

@font-face {
    font-family: Montserrat-Hairline;
	src: url(fonts/MontserratRegular.eot);
    src: url(fonts/Montserrat-Hairline.otf);
}

@font-face {
    font-family: Montserrat-UltraLight;
	src: url(fonts/MontserratRegular.eot);
    src: url(fonts/Montserrat-UltraLight.otf);
}

@font-face {
    font-family: Montserrat-Light;
	src: url(fonts/MontserratRegular.eot);
    src: url(fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-Normal;
	src: url(fonts/MontserratRegular.eot);
    src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat;
	src: url(fonts/MontserratRegular.eot);
    src: url(fonts/Montserrat-SemiBold.otf);
}

 
    
      