$heading-font-light: "Architects Daughter";

$heading-font: "Cherry Cream Soda";

$normal-font:"Montserrat-Light";

$primary-bodyfont: "Calligraffitti";

$secondary-bodyfont: "Montserrat Thin";

$heading-weight: 300;

$button-transition: all 0.35s ease;

$element-transition: all 0.35s ease;

$wdt-tr: 0.5s ease-in-out;

$wdt-tr-short: 0.5s ease-in-out;

$hdr-tr:  0.5s ease-in-out;

$button-text-align: center;

$responsive-break-big: 991px;

$responsive-break-medium: 600px;

$responsive-break-header-big: 780px;



$selection-background-color:#5d1515;

$selection-color:white;

$sidebar-background-color:#fff;

$comment-background-color:#f8f8f8;


$a-hover-col:#5d1515;

$a-col:black;



$header-highlight-color:#5d1515;

$header-highlight-color-top:white;


$content-highlight-color:#5d1515;

$content-text-on-image-color:white;



$footer-background-color:#5d1515;

$footer-text-color:white;



$content-highlight-color-transparent:rgba(93, 21, 21, 0.85);

$header-background-color: rgba(242, 242, 242, 0.76);

$on-image-hover-color: rgba(0, 0, 0, 0.35);

$text-on-image-color: rgba(0, 0, 0, 0.53);

